.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 80px;
}

.fetch-button {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin-left: 13rem;
  margin-bottom: 3rem;
  border: 0.16em solid #ffffff;
  border-radius: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.39);
  text-align: center;
}
.fetch-button:hover {
  background-color: #81b1fa;
}

.card img {
  height: 300px;
  width: 600px;
}
.col-sm-6 {
  width: 600px;
}
.card {
  margin-bottom: 50px;
  width: 600px;
}

.btn-primary {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin-left: 170px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}

body {
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #000000;

  background-image: linear-gradient(147deg, #edaef9 0%, #81b1fa 80%);
}
.heading {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 600px;

  font-family: "Crete Round", serif;
  font-family: "Lobster Two", cursive;
  color: #3957ed;
  margin-bottom: 30px;
}
.inside {
  font-size: 20px;
  text-align: center;
  color: darkblue;
}

.container {
  padding: 1rem 1rem;
  margin-right: auto;
  margin-left: auto;
  height: 180rem;
  max-width: 42rem;
  letter-spacing: 0.01rem;
  line-height: 32px;
}

.container-center {
  max-width: 600px;
  margin: auto;
}
